<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Notice</title>
</head>
<body>
<h1>Privacy Notice Posting</h1>
<p>We are a Posting organization, and care about the privacy of our clients. This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>

<h2>Topics:</h2>
<ol>
    <li>What data do we collect?</li>
    <li>How do we collect your data?</li>
    <li>How will we use your data?</li>
    <li>How do we store your data?</li>
    <li>What are your data protection rights?</li>
    <li>What are cookies?</li>
    <li>How do we use cookies?</li>
    <li>What types of cookies do we use?</li>
    <li>How to manage your cookies</li>
    <li>Privacy policies of other websites</li>
    <li>Changes to our privacy policy</li>
    <li>How to contact us</li>
    <li>How to contact the appropriate authorities</li>
</ol>

<h2>What data do we collect?</h2>
<p>Our Company collects the following data:</p>
<ul>
    <li>Personal identification:
        <ul>
            <li>Username</li>
            <li>Email address</li>
        </ul>
    </li>
    <li>User-generated Content:
        <ul>
            <li>Posts</li>
            <li>Comments</li>
            <li>Photos</li>
            <li>Any other content users create or upload to the platform</li>
        </ul>
    </li>
    <li>Usage Data:
        <ul>
            <li>Pages visited</li>
            <li>Features used</li>
            <li>Duration of sessions</li>
            <li>Frequency of logins</li>
        </ul>
    </li>
    <li>Device Information:
        <ul>
            <li>Device type</li>
            <li>Operating system</li>
            <li>Browser type</li>
            <li>IP address</li>
            <li>etc.</li>
        </ul>
    </li>
    <li>Cookies</li>
</ul>

<h2>How do we collect your data?</h2>
<p>You directly provide Our Company with most of the data we collect. We collect data and process data when you:</p>
<ul>
    <li>Register online or create an account. This includes personal information such as username, email address. If you log in to your platform using their social media accounts (such as Facebook, Google, or Twitter), we will collect data from their social media profiles.</li>
    <li>Interact with our website, such as browsing pages, clicking on links, or using features. This includes information gathered through cookies.</li>
</ul>

<h2>How will we use your data?</h2>
<p>Our organization collect your data so that we can:</p>
<ul>
    <li>Manage your account and authenticate user identities</li>
    <li>Analyze user data to understand user engagement patterns, such as comments, and reactions, to improve content relevance, user experience, and platform performance.</li>
    <li>Implement recommendation algorithms in the future that take into account factors such as post engagement, user interactions, and followed tags/users to surface relevant content.</li>
</ul>

<h2>How do we store your data?</h2>
<p>Our organization securely stores your data in a dedicated, encrypted database located in a secure data center with restricted access and robust physical security measures in place.</p>
<p>Our organization will keep your user account data, including post content and comments, for as long as your account remains active and for a period of 1 year after account closure. Once this time period has expired, we will delete your data by permanently removing it from our database using secure data deletion methods to ensure complete erasure and compliance with data protection regulations.</p>

<h2>What are your data protection rights?</h2>
<p>Our organization would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<ul>
    <li>The right to access - You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.</li>
    <li>The right to rectification - You have the right to request that Our organization correct any information you believe is inaccurate. You also have the right to request Our organization to complete information you believe is incomplete.</li>
    <li>The right to erasure - You have the right to request that Our organization erase your personal data, under certain conditions.</li>
    <li>The right to restrict processing - You have the right to request that Our organization restrict the processing of your personal data, under certain conditions.</li>
    <li>The right to object to processing - You have the right to object to Our organization's processing of your personal data, under certain conditions.</li>
    <li>The right to data portability - You have the right to request that Our organization transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="mailto:Posting@gmail.com">Posting@gmail.com</a>, or call us at <a href="tel:+66878150966">0878150966</a>. You can also write to us at: 156/7 Sukhumvit 35, Watthana Bangkok 10110, Thailand</p>

<h2>What are cookies?</h2>
<p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.</p>
<p>For further information visit <a href="https://allaboutcookies.org/">https://allaboutcookies.org/</a></p>

<h2>How do we use cookies?</h2>
<p>Our organization uses cookies in a range of ways to improve your experience on our website, including:</p>
<ul>
    <li>Keeping you signed in</li>
    <li>Understanding how you use our website</li>
    <li>Personalizing content and recommendations</li>
    <li>Session management</li>
    <li>Performance monitoring</li>
</ul>

<h2>What types of cookies do we use?</h2>
<p>There are a number of different types of cookies, however, our website uses:</p>
<ul>
    <li>Functionality - Our organization uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
    <li>Performance cookies - These cookies are used to collect information about how visitors use our website, such as which pages they visit most often and if they encounter any error messages. This data helps us improve the performance and usability of our website.</li>
    <li>Session cookies - Session cookies are temporary cookies that are erased when you close your browser. They are used to maintain your session and enable certain features of the website, such as keeping you logged in.</li>
    <li>Security cookies - Security cookies are used to authenticate users, prevent fraudulent activity, and protect user data from unauthorized access. These cookies help ensure the security and integrity of our website and user accounts.</li>
    <li>Tracking cookies - Collect information about your visit to our website, the content you viewed, the links you followed and information about your browser device, and your IP address.</li>
</ul>

<h2>How to manage your cookies</h2>
<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

<h2>Privacy policies of other websites</h2>
<p>The Our organization website contains Links to other websites. Our privacy policy applies only to our website so if you click on a link to another website, you should read their privacy policy.</p>

<h2>Changes to our privacy policy</h2>
<p>Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 30 March 2024.</p>

<h2>How to contact us</h2>
<p>If you have any questions about Our Company's privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights please do not hesitate to contact us.</p>
<ul>
    <li>Email us at: <a href="mailto:Posting@gmail.com">Posting@gmail.com</a></li>
    <li>Call us: <a href="tel:+66878150966">0878150966</a></li>
    <li>Or write to us at: 156/7 Sukhumvit 35, Watthana Bangkok 10110</li>
</ul>

<h2>How to contact the appropriate authorities</h2>
<p>Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner's Office.</p>
<ul>
    <li>Email: <a href="mailto:info@commissionersoffice.gov">info@commissionersoffice.gov</a></li>
    <li>Address: 238/45 Phayathai Road, Pathum Wan, Bangkok 10330, Thailand</li>
</ul>
</body>
</html>
